{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browser": ["last 2 versions", "safari > 7"]
        }
      }
    ]
  ],
  "plugins": [
     "transform-es2015-arrow-functions",
    "transform-vue-jsx",
    "transform-es2015-modules-commonjs",
    "transform-class-properties"
  ]

}